/ANLL/TD01/atlg4-intro/target/
/ANLL/TD01/atlg4-intro/nbproject/
/ATL/TD03/Code/ClientServerFramework-master-4e4e67ce2e14a5e8f4a4a245149f1c43501289c0/ClientV2/MessageChatV2/build/
/ATL/TD03/Code/ClientServerFramework-master-4e4e67ce2e14a5e8f4a4a245149f1c43501289c0/ClientV3/MessageChatV3/build/
/ANLL/TD02/Mentoring/target/
/ANLL/TD02/Mentoring/nbproject/